@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "PendingAppointments";
    Layout = "~/Views/Shared/_ChiefLayout.cshtml";
}


<h2>İptal Randevular</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Müşteri</th>
        <th>Tedarikçi</th>
        <th>Kapasite</th>
        <th>Paket Tipi</th>
        <th>Sürücü</th>
        <th>Randevu Geliş Tarihi</th>
        <th>Randevu Bitiş Tarihi</th>
        <th>Statü</th>
        <th>Geliş Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Durum</th>
        <th>Düzenle</th>

    </tr>
    @foreach (var item in Model)
    {

        if (item.AppointmentStatus == false)
        {

            <tr>
                <td>@item.AppointmentID</td>
                <td>@item.SubCustomer.Customer.CompanyName</td>
                <td>@item.SubCustomer.SubCustomerCompany</td>
                <td>@item.AppointmentCapacity</td>
                <td>@item.AppointmentLoadType</td>
                <td>@item.Driver.DriverLogisticName</td>
                <td>@item.AppStartDate</td>
                <td>@item.AppFinishDate</td>
                <td>@item.AppointmentStatus</td>
                <td>@item.RealAppStartDate</td>
                <td>@item.RealAppFinishDate</td>
                <td><a href="/Chief/ApplyAppointment/@item.AppointmentID" class="btn btn-success">Aktif Yap</a></td>
                <td><a href="/Chief/EditAppointment/@item.AppointmentID" class="btn btn-warning">Düzenle</a></td>
            </tr>

        }

    }

</table>

