@model EntityLayer.Concrete.Appointment
@{
    ViewBag.Title = "EditAppointment";
    Layout = "~/Views/Shared/_ChiefLayout.cshtml";
}

<h2>Randevu Düzenle</h2>

@*<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Metin Girişi</h2>
            </div>*@



            @using (Html.BeginForm("EditAppointment", "Chief", FormMethod.Post))
            {

                <div class="form-group">
                    
                   

                    @Html.HiddenFor(x => x.AppointmentID, new { @class = "form-control" })

                    @Html.Label("Mal Türü")
                    @Html.TextBoxFor(x => x.AppointmentLoadType, new { @class = "form-control" })
                    @*@Html.Label("Kapasite")*@
                    @Html.HiddenFor(x => x.AppointmentCapacity, new { @class = "form-control" })
                    @*@Html.Label("Sürücü Adı")*@
                    @Html.HiddenFor(x => x.DriverID, new { @class = "form-control" })
                    @*@Html.Label("Firma İsim")*@
                    @Html.HiddenFor(x => x.SubCustomerID, new { @class = "form-control" })
                    @*@Html.Label("Durum")*@
                    @Html.HiddenFor(x => x.AppointmentStatus, new { @class = "form-control" })
                    @*@Html.Label("Şef ID")*@
                    @Html.HiddenFor(x => x.ChiefID, new { @class = "form-control" })
                    <br />
                    @Html.Label("başla")
                    @Html.TextBoxFor(x => x.AppStartDate, new { @class = "form-control" })
                    <br />
                    @Html.Label("bitiş")
                    @Html.TextBoxFor(x => x.AppFinishDate, new { @class = "form-control" })
                    @Html.Label("bitiş real")
                    @Html.TextBoxFor(x => x.DownloadedDate, new { @class = "form-control" })
                    <br />
                    @*@Html.Label("bitiş real")
                    @Html.TextBoxFor(x => x.InComingDate, new { @class = "form-control" })*@
                    <br />
                    @Html.Label("Eşya Adı")
                    @Html.TextBoxFor(x => x.AppointmentName, new { @class = "form-control" })
                    <br />
                    @Html.Label("Randevu Image")
                    @Html.TextBoxFor(x => x.AppointmentImage, new { @class = "form-control" })
                    <br />
                    @Html.Label("Randevu Image")
                    @Html.TextBoxFor(x => x.AppointmentComment, new { @class = "form-control" })
                    <br />
                    @Html.Label("Randevu Müşteri Onay Durumu")
                    @Html.TextBoxFor(x => x.AppointmentTrackStatus, new { @class = "form-control" })

                    <button class="btn btn-info">Güncelle</button>
                </div>

            }



        @*</div>
    </div>
</div>*@