@model EntityLayer.Concrete.Appointment
@{
    ViewBag.Title = "EditAppointment";
    Layout = "~/Views/Shared/_ChiefLayout.cshtml";
}

<h2>Randevu Düzenle</h2>

@using (Html.BeginForm("EditAppointment", "Chief", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("ID")
    @Html.TextBoxFor(x => x.AppointmentID, new { @class = "form-control" })
    <br />
    @Html.Label("Mal Türü")
    @Html.TextBoxFor(x => x.AppointmentLoadType, new { @class = "form-control" })
    <br />
    @Html.Label("Kapasite")
    @Html.TextBoxFor(x => x.AppointmentCapacity, new { @class = "form-control" })
    <br />
    @Html.Label("Sürücü İsmi")
    @Html.TextBoxFor(x => x.DriverID, new { @class = "form-control" })
    <br />
    @Html.Label("Firma İsim")
    @Html.TextBoxFor(x => x.SubCustomerID, new { @class = "form-control" })
    <br />
    @Html.Label("Durum")
    @Html.TextBoxFor(x => x.AppointmentStatus, new { @class = "form-control" })
    <br />
    @Html.Label("Şef ID")
    @Html.TextBoxFor(x => x.ChiefID, new { @class = "form-control" })
    <br />
    @Html.Label("başla")
    @Html.TextBoxFor(x => x.AppStartDate, new { @class = "form-control" })
    <br />
    @Html.Label("bitiş")
    @Html.TextBoxFor(x => x.AppFinishDate, new { @class = "form-control" })
    <br />
    @Html.Label("start real")
    @Html.TextBoxFor(x => x.RealAppStartDate, new { @class = "form-control" })
    <br />
    @Html.Label("bitiş real")
    @Html.TextBoxFor(x => x.RealAppFinishDate, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</div>

}