@model EntityLayer.Concrete.Appointment
@{
    ViewBag.Title = "EditAppointment";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2 class="title">Randevu Düzenle</h2>

<a href="/Chief/ClosePopUp/" class="closepopup"><i class="fas fa-minus-circle"></i></a>
<hr />


@ViewBag.Plaka

@using (Html.BeginForm("EditAppointment", "Chief", FormMethod.Post))
{

    @Html.HiddenFor(x => x.AppointmentID, new { @class = "form-control" })
    @Html.Label("Mal Türü")
    @Html.TextBoxFor(x => x.AppointmentLoadType, new { @class = "form-control" })
    @*@Html.Label("Kapasite")*@
    @Html.HiddenFor(x => x.AppointmentCapacity, new { @class = "form-control" })
    @*@Html.Label("Sürücü Adı")*@
    @Html.HiddenFor(x => x.DriverID, new { @class = "form-control" })
    @*@Html.Label("Firma İsim")*@
    @Html.HiddenFor(x => x.SubCustomerID, new { @class = "form-control" })
    @*@Html.Label("Durum")*@
    @Html.HiddenFor(x => x.AppointmentStatus, new { @class = "form-control" })
    @*@Html.Label("Şef ID")*@
    @Html.HiddenFor(x => x.ChiefID, new { @class = "form-control" })
    @Html.HiddenFor(x => x.AppointmentCancelComment, new { @class = "form-control" })

    @*@Html.Label("başla")*@
    @Html.HiddenFor(x => x.AppStartDate, new { @class = "form-control" })

    @*@Html.Label("bitiş")*@
    @Html.HiddenFor(x => x.AppFinishDate, new { @class = "form-control" })
    @*@Html.Label("bitiş real")*@
    @Html.HiddenFor(x => x.DownloadedDate, new { @class = "form-control" })

    @*@Html.Label("bitiş real")
        @Html.TextBoxFor(x => x.InComingDate, new { @class = "form-control" })*@
    @Html.HiddenFor(x => x.AppointmentUpdateComment, new { @class = "form-control" })
    @Html.HiddenFor(x => x.CalendarID, new { @class = "form-control" })
    @Html.Label("Eşya Adı")
    @Html.TextBoxFor(x => x.AppointmentName, new { @class = "form-control" })

    @Html.Label("Randevu Image")
    @Html.TextBoxFor(x => x.AppointmentImage, new { @class = "form-control" })

    @Html.Label("Randevu Açıklama")
    @Html.TextBoxFor(x => x.AppointmentComment, new { @class = "form-control" })

    @Html.Label("Randevu Müşteri Onay Durumu")
    @Html.TextBoxFor(x => x.AppointmentTrackStatus, new { @class = "form-control" })

    
    

    <a href="/Chief/InComingApp/@ViewBag.d" class="btn btn-success btn-lg btn-block">Geldi</a>
    <a href="/Chief/Downloaded/@ViewBag.d" class="btn btn-secondary btn-lg btn-block">İndiriliyor</a>
    <button class="btn btn-primary btn-lg btn-block">İşlem Bitti</button>
    <h1>@ViewBag.plate</h1>
    <br />
}



@*</div>
        </div>
    </div>*@






