@using EntityLayer.Concrete
@model List<Appointment>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ChiefLayout.cshtml";
}
<style>
    .inactiveLink {
        pointer-events: none;
        cursor: default;
    }
</style>

@{string color1 = "";}
@{string color2 = "";}
@{string color3 = "";}

@{string veri = "test";}


<h2>Bekleyen Randevular </h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Müşteri</th>
        <th>Tedarikçi</th>
        <th>Kapasite</th>
        <th>Paket Tipi</th>
        <th>Sürücü</th>

        <th>Alınan Saat</th>
        <th>Geldi</th>
        <th>İndiriliyor</th>
        <th>Tamamlandı</th>
        <th>Durum</th>
        <th>Durum 1</th>
        <th>Durum 2</th>
        <th>Durum 4</th>
        <th>Durum 5</th>
        <th>İşlem Yap</th>

    </tr>
    @foreach (var item in Model)
    {

        if (item.AppointmentTrackStatus == 4 || item.AppointmentTrackStatus == 8 || item.AppointmentTrackStatus == 9)
        {

            <tr>
                <td>@item.AppointmentID</td>
                <td>@item.SubCustomer.Customer.CompanyName</td>
                <td>@item.SubCustomer.SubCustomerCompany</td>
                <td>@item.AppointmentCapacity</td>
                <td>@item.AppointmentLoadType</td>
                <td>@item.Driver.DriverLogisticName</td>

                <td>@item.AppStartDate</td>
                <td>@item.InComingDate</td>
                <td>@item.DownloadedDate</td>
                <td>@item.AppFinishDate</td>

                @switch (item.AppointmentTrackStatus)
                {
                    case 4:
                        color1 = "btn btn-secondary";
                        color2 = "btn btn-secondary";
                        color3 = "btn btn-secondary inactiveLink";
                        break;
                    case 8:
                        color1 = "btn btn btn-info inactiveLink";
                        color2 = "btn btn-secondary";
                        color3 = "btn btn-secondary inactiveLink";
                        break;
                    case 9:
                        color1 = "btn btn btn-success inactiveLink";
                        color2 = "btn btn btn-success inactiveLink";
                        color3 = "btn btn-secondary";
                        break;
                }

                <td>@item.AppointmentTrackStatus</td>
                <td><a href="/Chief/InComingApp/@item.AppointmentID" class="@color1">Geldi</a></td>
                <td><a href="/Chief/Downloaded/@item.AppointmentID" class="@color2">İndiriliyor</a></td>
                <td><a href="/Chief/NotComing/@item.AppointmentID" class="btn btn-danger">Gelmedi</a></td>
                <td><a href="/Chief/EditAppointment/@item.AppointmentID" class="@color3">Tamamla</a></td>
                <td>
                    <a href="/Chief/EditAppointment/@item.AppointmentID" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
                        Test
                    </a>

                </td>

                @*<td>
                    <iframe src="/Chief/EditAppointment/@item.AppointmentID" ></iframe>
                </td>*@

            </tr>

            <div class="modal" id="Modal1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Hakkımızda Metin Girişi</h2>
                        </div>

                        <form method="post" action="/Chief/EditAppointment/">
                            <div class="modal-body">
                                <label>Hakkımda Metin 1</label>
                                <input type="text" name="AppointmentID" value="@item.AppointmentID" class="form-control" />
                                <input type="text" name="AppointmentLoadType" value="@item.AppointmentLoadType" class="form-control" />
                                <input type="text" name="AppointmentCapacity" value="@item.AppointmentCapacity" class="form-control" />
                                <input type="text" name="DriverID" value="@item.DriverID" class="form-control" />
                                <input type="text" name="SubCustomerID" value="@item.SubCustomerID" class="form-control" />
                                <input type="text" name="AppointmentStatus" value="@item.AppointmentStatus" class="form-control" />
                                <input type="text" name="ChiefID" value="@item.ChiefID" class="form-control" />
                                <input type="text" name="AppStartDate" value="@item.AppStartDate" class="form-control" />
                                <input type="text" name="AppFinishDate" value="@item.AppFinishDate" class="form-control" />
                                <input type="text" name="DownloadedDate" value="@item.DownloadedDate" class="form-control" />
                                <input type="text" name="InComingDate" value="@item.InComingDate" class="form-control" />
                                <input type="text" name="AppointmentName" value="@item.AppointmentName" class="form-control" />
                                <input type="text" name="AppointmentImage" value="@item.AppointmentImage" class="form-control" />
                                <input type="text" name="AppointmentComment" value="@item.AppointmentComment" class="form-control" />
                                <input type="text" name="AppointmentTrackStatus" value="@item.AppointmentTrackStatus" class="form-control" />

                                <button class="btn btn-info">Kaydet</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>



        }

    }

</table>

