@using EntityLayer.Concrete
@model List<Appointment>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ChiefLayout.cshtml";
}
<style>
    .inactiveLink {
        pointer-events: none;
        cursor: default;
    }
</style>

@{string color1 = "";}
@{string color2 = "";}
@{string color3 = "";}

@{string veri = "test";}


<br />

<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-size:30px; font-weight:700">Bekleyen Randevular</h3>
        <div class="card-tools">

            <div class="input-group input-group-sm" style="width: 150px;">

                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table id="example1" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Müşteri</th>
                    <th>Tedarikçi</th>
                    <th>Plaka</th>
                    <th>Paket Tipi</th>
                    <th>Geldi</th>

                    <th>İndiriliyor</th>

                    <th>Durum</th>


                    <th colspan="4" style="text-align:center">İşlem Yap</th>



                </tr>

            </thead>

            <tbody>
                @foreach (var item in Model)
                {

                    if (item.AppointmentTrackStatus == 4 || item.AppointmentTrackStatus == 8 || item.AppointmentTrackStatus == 9)
                    {

                        <tr>
                            <td>@item.AppointmentID</td>
                            <td style="font-size:20px;">@item.SubCustomer.Customer.CompanyName</td>
                            <td>@item.SubCustomer.SubCustomerCompany</td>
                            <td style="font-size:20px;"><b> @item.AppDriverPlate</b></td>
                            <td>@item.AppointmentLoadType</td>
                            <td>@item.InComingDate</td>
                            <td>@item.DownloadedDate</td>

                            <td>@item.AppointmentTrackStatus</td>

                            @switch (item.AppointmentTrackStatus)
                            {
                                case 4:
                                    color1 = "btn btn-secondary";
                                    color2 = "btn btn-secondary";
                                    color3 = "btn btn-secondary inactiveLink";
                                    break;
                                case 8:
                                    color1 = "btn btn btn-info inactiveLink";
                                    color2 = "btn btn-secondary";
                                    color3 = "btn btn-secondary inactiveLink";
                                    break;
                                case 9:
                                    color1 = "btn btn btn-success inactiveLink";
                                    color2 = "btn btn btn-success inactiveLink";
                                    color3 = "btn btn-secondary";
                                    break;
                            }


                            <td><a href="/Chief/InComingApp/@item.AppointmentID" class="@color1">Geldi</a></td>
                            <td><a href="/Chief/Downloaded/@item.AppointmentID" class="@color2">İndiriliyor</a></td>
                            @*<td><a href="/Chief/NotComing/@item.AppointmentID" class="btn btn-danger">Gelmedi</a></td>*@
                            <td><a href="/Chief/EditAppointment/@item.AppointmentID" class="@color3">İşlem Yap</a></td>


                            @*<td>
                                    <iframe src="/Chief/EditAppointment/@item.AppointmentID" ></iframe>
                                </td>*@

                        </tr>


                    }

                }

            </tbody>
        </table>
    </div>
    <div class="card-footer clearfix">

        <ul class="pagination pagination-sm m-0">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>

