@using EntityLayer.Concrete
@model List<Appointment>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ChiefLayout.cshtml";
}
@*@{int dilimSayi = 1;}*@
@{string takipdurum = "";}

<style>
    .inactiveLink {
        pointer-events: none;
        cursor: default;
    }
</style>


<br />

<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-size:30px; font-weight:700">Bekleyen Randevular</h3>

    </div>

    <div class="container-fluid">
        <div class="row">
          
            <div class="col bg-gradient-orange" style="text-align:center">
                <h3 class="mt-1"> @ViewBag.gelen 100 Araç Bekleniyor</h3>
            </div>


            <div class="col bg-gradient-green" style="text-align:center">
                <h3 class="mt-1">İşlemdekiler</h3>
            </div>
        </div>


        <div class="row">
            <div class="col bg-primary">
                <div class="row">
                    <div class="col bg-black">
                        <div class="row">
                            <div class="col" style="text-align:center">Beklenen: @ViewBag.gelen</div>
                            <div class="col" style="text-align:center">Gelen: @ViewBag.geldi</div>
                            </div>
                        </div>
                        <div class="col bg-primary">
                            <div class="row">
                                <div class="col" style="text-align:center"> İndiriliyor: @ViewBag.indiriliyor</div>
                                <div class="col" style="text-align:center"> Tamamlandı: @ViewBag.biten</div>
                                <div class="col" style="text-align:center"> Çıktı: @ViewBag.cikti</div>
                                <div class="col" style="text-align:center"> Gelmedi: @ViewBag.cikti</div>
                            </div>
                        </div>
                    </div>
                </div>

               
            </div>

    </div>
    Aktif Dilim:  @ViewBag.d3
    Toplam Dilim: @ViewBag.d5
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        @for (int i = 1; i <= ViewBag.d5; i++)
        {

            <center> <h1>Dilim @i</h1></center>
            <hr />

            <table id="example1" class="table table-bordered table-striped table-hover">
                <thead >
                    <tr>
                        <th>ID</th>
                        <th>Müşteri</th>
                        <th>Tedarikçi</th>
                        <th>Plaka</th>
                        <th>Paket Tipi</th>
                        <th>Geldi</th>

                        <th>İndiriliyor</th>

                        <th>Durum</th>


                        <th colspan="4" style="text-align:center">İşlem Yap</th>



                    </tr>

                </thead>


                <tbody>

                    @foreach (var item in Model)
                    {
                        if (/*DateTime.Now.Day == Convert.ToDateTime(item.AppStartDate).Day*/ DateTime.Now == DateTime.Now)
                        {


                            if (item.AppointmentTrackStatus == 4 || item.AppointmentTrackStatus == 8 || item.AppointmentTrackStatus == 9 || item.AppointmentTrackStatus == 10)
                            {
                                if (item.Calendar.SlicesID == ViewBag.d3)
                                {

                                    if (item.Calendar.CLSlice == @i)
                                    {


                                        switch (item.AppointmentTrackStatus)
                                        {
                                            case 4:
                                                takipdurum = "table-primary";

                                                break;
                                            case 8:
                                                takipdurum = "table-warning";

                                                break;
                                            case 9:
                                                takipdurum = "table-info";
                                                break;
                                            case 10:
                                                takipdurum = "table-success";
                                                break;

                                        }
                                        <tr class="@takipdurum" style=" ">
                                            <td>@item.AppointmentID</td>
                                            <td style="font-size:20px;">@item.SubCustomer.Customer.CompanyName</td>
                                            <td>@item.SubCustomer.SubCustomerCompany</td>
                                            <td style="font-size:20px;"><b> @item.AppDriverPlate</b></td>
                                            <td>@item.AppointmentLoadType</td>
                                            <td>@item.InComingDate</td>
                                            <td>@item.DownloadedDate</td>

                                            <td class="">

                                                @switch (item.AppointmentTrackStatus)
                                                {
                                                    case 4:
                                                        <p>Bekleniyor</p>

                                                        break;
                                                    case 8:
                                                        <p>Geldi</p>

                                                        break;
                                                    case 9:
                                                        <p>İndiriliyor</p>
                                                        break;
                                                    case 10:
                                                        <p>Tamamlandı</p>
                                                        break;

                                                }

                                            </td>

                                            <td><a href="/Chief/EditAppointment/@item.AppointmentID" class="btn btn-primary">İşlem Yap</a></td>
                                        </tr>

                                    }

                                }
                            }


                        }
                    }
                </tbody>
            </table>
        }

    </div>
    <div class="card-footer clearfix">

        <ul class="pagination pagination-sm m-0">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>


