@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "NotComings";
    Layout = "~/Views/Shared/_ChiefLayout.cshtml";
}



<br />
<div class="card">
    <div class="card-header table-responsive p-2">
        <h3 class="card-title" style="font-size:30px; font-weight:700">Gelmeyen Randevular</h3>
        <table id="example1" class="table table-bordered table-striped table-hover">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Müşteri</th>
                    <th>Tedarikçi</th>
                    <th>Kapasite</th>
                    <th>Paket Tipi</th>
                    <th>Sürücü</th>
                    <th>Randevu Geliş Tarihi</th>
                    <th>Randevu Bitiş Tarihi</th>
                    <th>Statü</th>
                    <th>Geliş Tarihi</th>
                    <th>Bitiş Tarihi</th>



                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {

                    if (item.AppointmentTrackStatus == 5)
                    {

                        <tr>
                            <td>@item.AppointmentID</td>
                            <td>@*@item.SubCustomer.Customer.CompanyName*@</td>
                            <td>@item.SubCustomer.SubCustomerCompany</td>
                            <td>@item.AppointmentCapacity</td>
                            <td>@item.AppointmentLoadType</td>
                            @*<td>@item.Driver.DriverLogisticName</td>*@
                            <td>@item.AppStartDate</td>
                            <td>@item.AppFinishDate</td>
                            <td>@item.AppointmentStatus</td>
                            <td>@item.DownloadedDate</td>
                            <td>@item.InComingDate</td>
                            <td>@item.AppFinishDate</td>

                        </tr>

                    }

                }


            </tbody>
        </table>
    </div>
    
</div>