@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "NotComings";
    Layout = "~/Views/Shared/_ChiefLayout.cshtml";
}


<h1>Gelmeyen Randevular</h1>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Gelmeyen Randevular</h3>
        <div class="card-tools">

            <div class="input-group input-group-sm" style="width: 150px;">



                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table id="example1" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Müşteri</th>
                    <th>Tedarikçi</th>
                    <th>Kapasite</th>
                    <th>Paket Tipi</th>
                    <th>Sürücü</th>
                    <th>Randevu Geliş Tarihi</th>
                    <th>Randevu Bitiş Tarihi</th>
                    <th>Statü</th>
                    <th>Geliş Tarihi</th>
                    <th>Bitiş Tarihi</th>



                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {

                    if (item.AppointmentTrackStatus == 5)
                    {

                        <tr>
                            <td>@item.AppointmentID</td>
                            <td>@item.SubCustomer.Customer.CompanyName</td>
                            <td>@item.SubCustomer.SubCustomerCompany</td>
                            <td>@item.AppointmentCapacity</td>
                            <td>@item.AppointmentLoadType</td>
                            @*<td>@item.Driver.DriverLogisticName</td>*@
                            <td>@item.AppStartDate</td>
                            <td>@item.AppFinishDate</td>
                            <td>@item.AppointmentStatus</td>
                            <td>@item.DownloadedDate</td>
                            <td>@item.InComingDate</td>
                            <td>@item.AppFinishDate</td>

                        </tr>

                    }

                }


            </tbody>
        </table>
    </div>
    <div class="card-footer clearfix">

        <ul class="pagination pagination-sm m-0">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>