@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "PendingAppointments";
    Layout = "~/Views/Shared/_ChiefLayout.cshtml";
}


<h2>Bekleyen Randevular</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Müşteri</th>
        <th>Tedarikçi</th>
        <th>Kapasite</th>
        <th>Paket Tipi</th>
        <th>Sürücü</th>
        <th>Randevu Geliş Tarihi</th>
        <th>Randevu Bitiş Tarihi</th>
        <th>Statü</th>
        <th>Geliş Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Durum 1</th>
        <th>Durum 2</th>
        <th>Durum 3</th>
        <th>Durum 4</th>
       

    </tr>
    @foreach (var item in Model)
    {

        if (item.AppointmentTrackStatus == 4 || item.AppointmentTrackStatus == 8 || item.AppointmentTrackStatus == 9)
        {

            <tr>
                <td>@item.AppointmentID</td>
                <td>@item.SubCustomer.Customer.CompanyName</td>
                <td>@item.SubCustomer.SubCustomerCompany</td>
                <td>@item.AppointmentCapacity</td>
                <td>@item.AppointmentLoadType</td>
                <td>@item.Driver.DriverLogisticName</td>
                <td>@item.AppStartDate</td>
                <td>@item.AppFinishDate</td>
                <td>@item.AppointmentStatus</td>
                <td>@item.RealAppStartDate</td>
                <td>@item.RealAppFinishDate</td>
                <td><a href="/Chief/DeleteAppointment/@item.AppointmentID" class="btn btn-danger">Geldi</a></td>
                <td><a href="/Chief/DeleteAppointment/@item.AppointmentID" class="btn btn-danger">İndiriliyor</a></td>
                <td><a href="/Chief/DeleteAppointment/@item.AppointmentID" class="btn btn-danger">Geldi İndi</a></td>
                <td><a href="/Chief/DeleteAppointment/@item.AppointmentID" class="btn btn-danger">Tamamlandı</a></td>
        
            </tr>

        }

    }

</table>

