@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_CustomerAdminLayout.cshtml";
}


<h2>Onaylanan Randevular</h2>

<table class="table table-bordered">
    <tr>


        <th>Firma İsim</th>
        <th>Mal İsim</th>
        <th>Yük Adet</th>
        <th>Geliş Tarihi</th>
        <th>Durum</th>
        <th>Sürücü İsim</th>

    </tr>

    @foreach (var item in Model)
    {


        if (@item.AppointmentTrackStatus == 4)
        {

            <tr>
                <td>@item.SubCustomer.SubCustomerName</td>
                <td>@item.AppointmentName</td>
                <td>@item.AppointmentCapacity</td>
                <td>@item.AppStartDate</td>
                <td>@item.AppointmentStatus</td>
                



            </tr>
        }
    }

</table>
