@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_CustomerAdminLayout.cshtml";
}


<h2>Randevular</h2>

<table class="table table-bordered">
    <tr>


        <th>Tedarikçi</th>
        <th>Kapasite</th>
        <th>Paket Tipi</th>
        <th>Sürücü</th>
        <th>Randevu Geliş Tarihi</th>
        <th>Randevu Bitiş Tarihi</th>
        <th>Onay Durumu</th>
        <th>Onayla</th>
        <th>Düzenle</th>

    </tr>

    @foreach (var item in Model)
    {


        @*if (@item.AppointmentAcceptStatus == true)
        {

            <tr>
                <td>@item.SubCustomer.SubCustomerCompany</td>
                <td>@item.AppointmentCapacity</td>
                <td>@item.AppointmentLoadType</td>
                <td>@item.Driver.DriverLogisticName</td>
                <td>@item.AppStartDate</td>
                <td>@item.AppFinishDate</td>
                <td>@item.AppointmentAcceptStatus</td>*@

                <td><a href="/CustomerAppAccept/ApplyAppointment/@item.AppointmentID" class="btn btn-success">Onayla</a></td>
                <td><a href="/CustomerAppAccept/DeleteAppointment/@item.AppointmentID" class="btn btn-danger">İptal Et</a></td>
            @*</tr>*@
        }
    }

</table>
