@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_CustomerAdminLayout.cshtml";
}


<h2>Randevular</h2>

<table class="table table-bordered">
    <tr>


        <th>Tedarikçi</th>
        <th>Kapasite</th>
        <th>Paket Tipi</th>
        <th>Sürücü</th>
        <th>Randevu Geliş Tarihi</th>
        <th>Randevu Bitiş Tarihi</th>
        <th>Onay Durumu</th>
        <th>Onayla</th>
        

    </tr>

    @foreach (var item in Model)
    {


        if (@item.AppointmentAcceptStatus == false)
        {

            <tr>
                <td>@item.SubCustomer.SubCustomerCompany</td>
                <td>@item.AppointmentCapacity</td>
                <td>@item.AppointmentLoadType</td>
                <td>@item.Driver.DriverLogisticName</td>
                <td>@item.AppStartDate</td>
                <td>@item.AppFinishDate</td>
                <td>@item.AppointmentAcceptStatus</td>

                
                <td><a href="/CustomerAppAccept/ApplyAppointment/@item.AppointmentID" class="btn btn-warning">İptali Geri Çek</a></td>
            </tr>
        }
    }

</table>


