@model EntityLayer.Concrete.SubCustomer
@{
    ViewBag.Title = "EditSubCustomer";
    Layout = "~/Views/Shared/_CustomerAdminLayout.cshtml";
}

<h1>Tedarikçiyi Düzenle</h1>
@using (Html.BeginForm("EditSubCustomer", "CustomerAppAccept", FormMethod.Post))
{
    <div class="form form-group">
        @Html.Label("Kullanıcı ID")
        @Html.TextBoxFor(x => x.SubCustomerID, new { @class = "form-control" })
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.SubCustomerUsername, new { @class = "form-control" })

        <br /> <br />
        @Html.Label("Şifre")
        @Html.TextBoxFor(x => x.SubCustomerPassword, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("Şirket İsim")
        @Html.TextBoxFor(x => x.SubCustomerName, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("Şirket Soyisim")
        @Html.TextBoxFor(x => x.SubCustomerSurname, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("Şirket Kodu")
        @Html.TextBoxFor(x => x.SubCustomerCode, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("Şirket Adresi")
        @Html.TextBoxFor(x => x.SubCustomerAddress, new { @class = "form-control" })
        <br /><br />
        @Html.Label("Durum")
        @Html.TextBoxFor(x => x.SubCustomerStatus, new { @class = "form-control" })





        <br /><br />
        <button class="btn btn-success">Kaydet</button>
    </div>
}

