@using EntityLayer.Concrete
@model  List<Appointment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerAdminLayout.cshtml";
}


<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
</head>
@{
    int bluebox = 0;
    int yellowbox = 0;
    int greenbox = 0;
    int redbox = 0;

    int darksmallbox = 0;
    int bluesmallbox = 0;
    int greensmallbox = 0;
    int yellowsmallbox = 0;
    int redsmallbox = 0;

    var dt = DateTime.Now;
    DateTime today = DateTime.Parse(dt.ToLongDateString());
    string dtst = today.ToString("dd MMMM");
}
@foreach (var item in Model)
{
    if (item.AppointmentTrackStatus == 1 && item.AppStartDate == dtst)
    {
        bluebox++;
    }
    if (item.AppointmentTrackStatus == 4 && item.AppStartDate == dtst)
    {
        greenbox++;
    }
    if (item.AppointmentTrackStatus == 7 && item.AppStartDate == dtst)
    {

        redbox++;
    }
    if (item.AppointmentTrackStatus == 3 && item.AppStartDate == dtst)
    {
        yellowbox++;
    }

    if (item.AppointmentTrackStatus == 4)
    {
        darksmallbox++;
    }
    if (item.AppointmentTrackStatus == 8)
    {
        bluesmallbox++;
    }
    if (item.AppointmentTrackStatus == 9)
    {
        yellowsmallbox++;
    }
    if (item.AppointmentTrackStatus == 10)
    {
        greensmallbox++;
    }
    if (item.AppointmentTrackStatus == 5)
    {
        redsmallbox++;
    }

}
<br />

<body>
    <div class="row">

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="ion ion-home"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Tüm Onay Bekleyenler</span>
                    <span class="info-box-number">
                        @bluesmallbox

                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="ion ion-alert"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Tüm İptal Edilenler</span>
                    <span class="info-box-number">@redsmallbox</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="ion ion-checkmark"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Tüm Tamamlananlar</span>
                    <span class="info-box-number">@greensmallbox</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="ion ion-cube"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Tüm İptal Edilmeyi Bekleyenler</span>
                    <span class="info-box-number">@yellowsmallbox</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

    <hr />


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@bluebox</h3>

                <p>Onay Bekleyen Randevular</p>
            </div>
            <div class="icon">
                <i class="ion ion-cube"></i>
            </div>
            <ion-icon name="cube-outline"></ion-icon>
            <a href="/CustomerAppAccept/WaitingAppointments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@greenbox @*<sup style="font-size: 20px">%</sup>*@</h3>

                <p>Onaylanan Randevular</p>
            </div>
            <div class="icon">
                <i class="ion ion-checkmark"></i>
            </div>
            <a href="/CustomerAppAccept/Appointments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@yellowbox</h3>

                <p>İptal Edilmeyi Bekleyen Randevular</p>
            </div>
            <div class="icon">
                <i class="ion ion-clock"></i>
            </div>
            <a href="/CustomerAppAccept/AppliedWantsCancelAppointments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@redbox</h3>

                <p>İptal Edilen Randevular</p>
            </div>
            <div class="icon">
                <i class="ion ion-alert"></i>
            </div>
            <a href="/CustomerAppAccept/CanceledAppoinments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="chart">
        <!-- Sales Chart Canvas -->
        <canvas id="salesChart" hidden></canvas>
    </div>


    <div class="wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <!-- AREA CHART -->
                        <div class="card card-primary">

                            <div hidden class="card-body">
                                <div class="chart">
                                    <canvas id="areaChart" hidden style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- DONUT CHART -->
                        <div class="card card-danger">
                            <div class="card-header">
                                <h3 class="card-title">Donut Chart</h3>


                            </div>
                            <div class="card-body">
                                <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- PIE CHART -->
                        <!-- /.card -->

                    </div>
                    <!-- /.col (LEFT) -->
                    <div class="col-md-6">
                        <!-- LINE CHART -->
                        <div class="card card-info">

                            <div hidden class="card-body">
                                <div class="chart">
                                    <canvas id="lineChart" hidden style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>


                    </div>
                    <!-- /.col (RIGHT) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="../../plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {

            var arrayOfValues = new Array();

            //Populate arrayOfValues
            $.ajax({
                type: "GET",
                url: "/CustomerAppAccept/Index",
                traditional: true,
                data: { 'arrayOfValues': arrayOfValues }
            });
            //-------------
            //- DONUT CHART -
            //-------------
            // Get context with jQuery - using jQuery's .get() method.
            var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
            var donutData = {
                labels: [
                    'Chrome',
                    'IE',
                    'FireFox',
                    'Safari',
                    'Opera',
                    'Navigator',
                ],
                datasets: [
                    {
                        data: [700, 500, 400, 600, 300, 100],
                        backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                    }
                ]
            }
            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            new Chart(donutChartCanvas, {
                type: 'doughnut',
                data: donutData,
                options: donutOptions
            })


            //var donutData = {
            //    labels: [
            //        'Chrome',
            //        'IE',
            //        'FireFox',
            //        'Safari',
            //        'Opera',
            //        'Navigator',
            //    ],

        })</script>

</body>




