@using EntityLayer.Concrete
@model  List<Appointment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerAdminLayout.cshtml";
}


<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
</head>
@{
    int bluebox = 0;
    int yellowbox = 0;
    int greenbox = 0;
    int redbox = 0;

    int darksmallbox = 0;
    int bluesmallbox = 0;
    int greensmallbox = 0;
    int yellowsmallbox = 0;
    int redsmallbox = 0;
}
@foreach (var item in Model)
{
    if (item.AppointmentTrackStatus == 1)
    {
        bluebox++;
    }
    if (item.AppointmentTrackStatus == 4)
    {
        greenbox++;
    }
    if (item.AppointmentTrackStatus == 7)
    {

        redbox++;
    }
    if (item.AppointmentTrackStatus == 3)
    {
        yellowbox++;
    }

    if (item.AppointmentTrackStatus == 4)
    {
        darksmallbox++;
    }
    if (item.AppointmentTrackStatus == 8)
    {
        bluesmallbox++;
    }
    if (item.AppointmentTrackStatus == 9)
    {
        yellowsmallbox++;
    }
    if (item.AppointmentTrackStatus == 10)
    {
        greensmallbox++;
    }
    if (item.AppointmentTrackStatus == 5)
    {
        redsmallbox++;
    }

}
<br />

<body>
    <div class="row">

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="ion ion-home"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Tüm Onay Bekleyen Randevular</span>
                    <span class="info-box-number">
                        @bluesmallbox

                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="ion ion-alert"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Tüm İptal Edilen Randevular</span>
                    <span class="info-box-number">@redsmallbox</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="ion ion-checkmark"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Tüm Tamamlanan Randevular</span>
                    <span class="info-box-number">@greensmallbox</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="ion ion-cube"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Tüm İptal Edilmeyi Bekleyen Randevular</span>
                    <span class="info-box-number">@yellowsmallbox</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

    <hr />


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@bluebox</h3>

                <p>Onay Bekleyen Randevular</p>
            </div>
            <div class="icon">
                <i class="ion ion-cube"></i>
            </div>
            <ion-icon name="cube-outline"></ion-icon>
            <a href="/CustomerAppAccept/WaitingAppointments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@greenbox @*<sup style="font-size: 20px">%</sup>*@</h3>

                <p>Onaylanan Randevular</p>
            </div>
            <div class="icon">
                <i class="ion ion-checkmark"></i>
            </div>
            <a href="/CustomerAppAccept/Appointments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@yellowbox</h3>

                <p>İptal Edilmeyi Bekleyen Randevular</p>
            </div>
            <div class="icon">
                <i class="ion ion-clock"></i>
            </div>
            <a href="/CustomerAppAccept/AppliedWantsCancelAppointments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@redbox</h3>

                <p>İptal Edilen Randevular</p>
            </div>
            <div class="icon">
                <i class="ion ion-alert"></i>
            </div>
            <a href="/CustomerAppAccept/CanceledAppoinments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    -

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Browser Usage</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="chart-responsive">
                        <canvas id="pieChart" height="150"></canvas>
                    </div>
                    <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <ul class="chart-legend clearfix">
                        <li><i class="far fa-circle text-danger"></i> Chrome</li>
                        <li><i class="far fa-circle text-success"></i> IE</li>
                        <li><i class="far fa-circle text-warning"></i> FireFox</li>
                        <li><i class="far fa-circle text-info"></i> Safari</li>
                        <li><i class="far fa-circle text-primary"></i> Opera</li>
                        <li><i class="far fa-circle text-secondary"></i> Navigator</li>
                    </ul>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer p-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        United States of America
                        <span class="float-right text-danger">
                            <i class="fas fa-arrow-down text-sm"></i>
                            12%
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        India
                        <span class="float-right text-success">
                            <i class="fas fa-arrow-up text-sm"></i> 4%
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        China
                        <span class="float-right text-warning">
                            <i class="fas fa-arrow-left text-sm"></i> 0%
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.footer -->
    </div>


</body>
<script src="~/AdminLTE/plugins/chart.js/Chart.min.js"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<!--<script src="~/AdminLTE/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="~/AdminLTE/plugins/raphael/raphael.min.js"></script>
<script src="~/AdminLTE/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="~/AdminLTE/plugins/jquery-mapael/maps/usa_states.min.js"></script>-->
<!-- ChartJS -->
<!--<script src="~/AdminLTE/plugins/chart.js/Chart.min.js"></script>-->

<!-- AdminLTE for demo purposes -->
<!--<script src="~/AdminLTE/dist/js/demo.js"></script>-->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--<script src="~/AdminLTE/dist/js/pages/dashboard2.js"></script>-->