@model EntityLayer.Concrete.Appointment
@{
    ViewBag.Title = "SeeAndCancelTheAppointment";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
@*<h2><b>(Yeni)@ViewBag.company</b> - @ViewBag.name - <b>@ViewBag.capacity</b></h2>*@
@*<hr />*@
@*<h2><b>(Eski)@ViewBag.company</b> - @ViewBag.oldname - <b>@ViewBag.oldcapacity</b></h2>*@
<a href="/CustomerAppAccept/WantsChangeAppoinments/" class="closepopup"><i class="fas fa-minus-circle"></i></a>

@using (Html.BeginForm("SeeAndCancelTheAppointment", "CustomerAppAccept", FormMethod.Post))
{
<div class="form-group">

    @Html.HiddenFor(x => x.AppointmentTrackStatus)
    @Html.HiddenFor(x => x.AppointmentID)
    @Html.HiddenFor(x => x.AppointmentLoadType)
    @Html.HiddenFor(x => x.DriverID)
    @Html.HiddenFor(x => x.SubCustomerID)
    @Html.HiddenFor(x => x.AppointmentStatus)
    @Html.HiddenFor(x => x.ChiefID)
    @Html.HiddenFor(x => x.DownloadedDate)
    @Html.HiddenFor(x => x.AppointmentImage)
    @Html.HiddenFor(x => x.AppointmentComment)
    @Html.HiddenFor(x => x.AppointmentName)
    @Html.HiddenFor(x => x.AppFinishDate)
    @Html.HiddenFor(x => x.InComingDate)
    @Html.HiddenFor(x => x.AppointmentUCode)
    @Html.HiddenFor(x => x.AppointmentLoadType, new { @class = "form-control" })
    @Html.HiddenFor(x => x.AppointmentCapacity, new { @class = "form-control" })
    @Html.HiddenFor(x => x.AppStartDate, new { @class = "form-control" })
    @Html.HiddenFor(x => x.AppStartDate)
    @Html.HiddenFor(x => x.CalendarID)
    @Html.HiddenFor(x => x.AppointmentUpdateComment)

    <h3 style="text-align:center">Eski Randevu</h3>
    <div style="text-align: center; background-color: red; color: white; margin-bottom: 25px; margin-top: 25px; font-size: 30px; border-radius: 10px "><b>@ViewBag.company</b> - @ViewBag.oldname - <b>@ViewBag.oldcapacity</b></div>
    <h3 style="text-align:center">Yeni Randevu</h3>
    <div style="text-align: center; background-color: forestgreen; color: white; margin-bottom: 25px; margin-top: 25px; font-size: 30px; border-radius: 10px "><b>@ViewBag.company</b> - @ViewBag.name - <b>@ViewBag.capacity</b></div>
    @Html.Label("İptal Edilme Nedeni (Opsiyonel)")
    @Html.TextAreaFor(x => x.AppointmentCancelComment, new { @class = "form-control" })
    <br />

    <a href="/CustomerAppAccept/ApplyChangedAppointment/@ViewBag.a" class="btn btn-success btn-lg btn btn-block">Randevuyu Onayla</a>
    <a href="/CustomerAppAccept/ThrowToCancelAppointment/@ViewBag.a" class="btn btn-danger btn-lg btn btn-block">Randevuyu İptal Et</a>

</div>
}

