@model EntityLayer.Concrete.Appointment

@{
    ViewBag.Title = "SeeTheAppointment";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2>Değişiklik Nedeni</h2>
<a href="/CustomerAppAccept/WantsChangeAppoinments/" class="closepopup"><i class="fas fa-minus-circle"></i></a>
<hr />
 
@using (Html.BeginForm("SeeTheAppointment", "CustomerAppAccept", FormMethod.Post))
{
<div class="form-group">

    @Html.HiddenFor(x => x.AppointmentTrackStatus)
    @Html.HiddenFor(x => x.AppointmentID)
    @Html.HiddenFor(x => x.AppointmentLoadType)
    @Html.HiddenFor(x => x.DriverID)
    @Html.HiddenFor(x => x.SubCustomerID)
    @Html.HiddenFor(x => x.AppointmentStatus)
    @Html.HiddenFor(x => x.ChiefID)
    @Html.HiddenFor(x => x.DownloadedDate)
    @Html.HiddenFor(x => x.AppointmentImage)
    @Html.HiddenFor(x => x.AppointmentComment)
    @Html.HiddenFor(x => x.AppointmentName)
    @Html.HiddenFor(x => x.AppFinishDate)
    @Html.HiddenFor(x => x.InComingDate)
    @Html.HiddenFor(x => x.AppointmentUCode)
    @Html.HiddenFor(x => x.AppointmentLoadType, new { @class = "form-control" })
    @Html.HiddenFor(x => x.AppointmentCapacity, new { @class = "form-control" })
    @Html.HiddenFor(x => x.AppStartDate, new { @class = "form-control" })
    @Html.HiddenFor(x => x.AppStartDate)
    @Html.HiddenFor(x => x.CalendarID)

    @Html.TextAreaFor(x => x.AppointmentUpdateComment, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <a href="/CustomerAppAccept/AccesChangeAppointment/@ViewBag.a" class="btn btn-success btn-lg btn btn-block">Düzenlemeye Onay Ver</a>
    <a href="/CustomerAppAccept/RefuseChangeAppointment/@ViewBag.a" class="btn btn-danger btn-lg btn btn-block">Düzenlemeyi İsteğini Reddet</a>

</div>
}


