@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "WaitingAppointments";
    Layout = "~/Views/Shared/_CustomerAdminLayout.cshtml";
}

<h2>Bekleyen Randevular</h2>

<table class="table table-bordered">
    <tr>


        <th>Firma İsim</th>
        <th>Mal İsim</th>
        <th>Yük Adet</th>
        <th>Geliş Tarihi</th>
        <th>Durum</th>
        <th>Sürücü İsim</th>
        <th>Onay Durumu</th>
        <th>Onayla</th>
        <th>Düzenle</th>

    </tr>

    @foreach (var item in Model)
    {


        if (@item.AppointmentTrackStatus == 1)
        {

<tr>



    <td>@item.SubCustomer.SubCustomerName</td>
    <td>@item.AppointmentName</td>
    <td>@item.AppointmentCapacity</td>
    <td>@item.AppStartDate</td>
    <td>@item.AppointmentStatus</td>
    <td>@item.Driver.DriverName  @item.Driver.DriverSurname</td>
    <td>@item.AppointmentTrackStatus</td>

    <td><a href="/CustomerAppAccept/ApplyAppointment/@item.AppointmentID" class="btn btn-success">Onayla</a></td>
    <td><a href="/CustomerAppAccept/CancelAppointment/@item.AppointmentID" class="btn btn-danger">İptal Et</a></td>
</tr>
        }
    }

</table>

