@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "WantsChangeAppoinments";
    Layout = "~/Views/Shared/_CustomerAdminLayout.cshtml";
}


@*<table class="table table-bordered">
        <tr>
            <th>Firma İsim</th>
            <th>Mal İsim</th>
            <th>Yükleme Tipi</th>
            <th>Geliş Tarihi</th>
            <th>Durum</th>
            <th>Sürücü İsim</th>
            <th>Talep</th>
            <th>Talep</th>
            <th>Talep</th>
            <th>Talep</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.AppointmentTrackStatus == 20)
            {
    <tr>

        <td>@item.SubCustomer.SubCustomerName</td>
        <td>@item.AppointmentName</td>
        <td>@item.AppointmentLoadType</td>
        <td>@item.AppStartDate</td>
        <td>@item.AppointmentStatus</td>

        <td><a href="/CustomerAppAccept/AccesChangeAppointment/@item.AppointmentID" class="btn btn-success">İzin Ver</a> </td>
        <td><a href="/CustomerAppAccept/ApplyChangedAppointment/@item.AppointmentID" class="btn btn-warning">Onayla</a> </td>
        <td><a href="/CustomerAppAccept/CancelChangedAppointment/@item.AppointmentID" class="btn btn-danger">Reddet</a> </td>
        <td><a href="/CustomerAppAccept/ThrowToCancelAppointment/@item.AppointmentID" class="btn btn-dark">İptal Et</a> </td>



    </tr>
            }
        }
    </table>*@
<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="font-size:30px; font-weight:700">Değişiklik Onayı İsteyen Randevular</h3>
                <div class="card-tools">
                    @*<select type="search" class="select-table-filter selectpicker" data-table="order-table" data-style="btn-primary">
                        <option value="">Hepsini Getir</option>
                        <option value="Değişiklik Onayı İsteniyor">Değişiklik Onayı İsteyenler</option>
                        <option value="Değişiklik Sonrası Onay Bekliyor">Değişiklik Sonrası Onay Bekliyor</option>
                    </select>*@

                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped projects order-table">
                        <thead>
                            <tr>
                                <th style="width: 8%">
                                    Firma
                                </th>
                                <th style="width: 8%">
                                    Tür
                                </th>
                                <th style="width: 10%">
                                    Mal İsim
                                </th>
                                <th style="width: 5%">
                                    Yük Adet
                                </th>
                                <th style="width: 15%">
                                    Durum
                                </th>
                                <th style="width: 12%" class="text-center">
                                    Geliş Tarihi
                                </th>
                                <th style="width: 10%">
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                if (/*item.AppointmentTrackStatus == 20 ||*/ item.AppointmentTrackStatus == 24 /*20*/ /*|| item.AppointmentTrackStatus == 24*/)
                                {

                                    <tr>
                                        <td style="font-size: 20px; font-weight:800">
                                            @item.SubCustomer.SubCustomerCompany
                                        </td>
                                        <td style="font-size: 20px;">
                                            @item.AppointmentLoadType
                                        </td>
                                        <td>
                                            <a style="font-size: 20px;">
                                                @item.AppointmentName
                                            </a>
                                            <br />

                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li class="list-inline-item" style="font-size: 30px; font-weight: 600; ">
                                                    @item.AppointmentCapacity
                                                </li>
                                            </ul>
                                        </td>
                                        @if (item.AppointmentTrackStatus == 20)
                                        {
                                            <td>
                                                <p style="font-weight:800; font-size:20px" class="badge badge-info">Değişiklik Onayı İsteniyor</p>
                                            </td>
                                        }
                                        else if (item.AppointmentTrackStatus == 24)
                                        {
                                            <td>
                                                <p style="font-weight:800; font-size:20px" class="badge badge-warning">Değişiklik Sonrası Onay Bekliyor</p>
                                            </td>
                                        }

                                    <td class="project-state" style="font-size:18px">
                                        @(((DateTime)item.AppStartDate).ToString("dd MMMM")) @(((DateTime)item.AppStartHour).ToString("hh:mm"))  @item.Calendar.CLSlice.ToString() .Dilim
                                    </td>
                                        <td class="project-actions text-right">
                                        </td>

                                        @if (item.AppointmentTrackStatus == 20)
                                        {
                                            <td>
                                                <a href="/CustomerAppAccept/SeeTheAppointment/@item.AppointmentID" class="btn btn-primary">Randevuyu Görüntüle</a>
                                            </td>

                                            @*<td>
                                                    <a href="/CustomerAppAccept/AccesChangeAppointment/@item.AppointmentID" class="btn btn-success">Düzenlemeye Onay Ver</a>
                                                    <a href="/CustomerAppAccept/RefuseChangeAppointment/@item.AppointmentID" class="btn btn-danger">Düzenlemeyi İsteğini Reddet</a>
                                                </td>*@
                                        }
                                        else if (item.AppointmentTrackStatus == 24)
                                        {
                                            <td>
                                                @*<a href="/CustomerAppAccept/ApplyChangedAppointment/@item.AppointmentID" class="btn btn-warning">Randevuyu Onayla</a>*@
                                                <a href="/CustomerAppAccept/SeeAndCancelTheAppointment/@item.AppointmentID" class="btn btn-dark">Randevuyu Görüntüle</a>
                                            </td>
                                        }





                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.card -->
    </section>
</body>



<script>
    (function (document) {
        'use strict';

        var LightTableFilter = (function (Arr) {

            var _input;
            var _select;

            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            function _onSelectEvent(e) {
                _select = e.target;
                var tables = document.getElementsByClassName(_select.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filterSelect);
                    });
                });
            }

            function _filter(row) {

                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';

            }

            function _filterSelect(row) {

                var text_select = row.textContent.toLowerCase(), val_select = _select.options[_select.selectedIndex].value.toLowerCase();
                row.style.display = text_select.indexOf(val_select) === -1 ? 'none' : 'table-row';

            }

            return {
                init: function () {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    var selects = document.getElementsByClassName('select-table-filter');
                    Arr.forEach.call(inputs, function (input) {
                        input.oninput = _onInputEvent;
                    });
                    Arr.forEach.call(selects, function (select) {
                        select.onchange = _onSelectEvent;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    })(document);
</script>