@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "WantsChangeAppoinments";
    Layout = "~/Views/Shared/_CustomerAdminLayout.cshtml";
}

<h2>Değişiklik İsteyen Randevular</h2>

<table class="table table-bordered">
    <tr>
        <th>Firma İsim</th>
        <th>Mal İsim</th>
        <th>Yükleme Tipi</th>
        <th>Geliş Tarihi</th>
        <th>Durum</th>
        <th>Sürücü İsim</th>
        <th>Talep</th>
        <th>Talep</th>
        <th>Talep</th>
        <th>Talep</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.AppointmentTrackStatus == 20)
        {
<tr>

    <td>@item.SubCustomer.SubCustomerName</td>
    <td>@item.AppointmentName</td>
    <td>@item.AppointmentLoadType</td>
    <td>@item.AppStartDate</td>
    <td>@item.AppointmentStatus</td>
    <td>@item.Driver.DriverName  @item.Driver.DriverSurname</td>
    <td><a href="/CustomerAppAccept/AccesChangeAppointment/@item.AppointmentID" class="btn btn-success">İzin Ver</a> </td>
    <td><a href="/CustomerAppAccept/ApplyChangedAppointment/@item.AppointmentID" class="btn btn-warning">Onayla</a> </td>
    <td><a href="/CustomerAppAccept/CancelChangedAppointment/@item.AppointmentID" class="btn btn-danger">Reddet</a> </td>
    <td><a href="/CustomerAppAccept/ThrowToCancelAppointment/@item.AppointmentID" class="btn btn-dark">İptal Et</a> </td>



</tr>
        }
    }
</table>