@model EntityLayer.Concrete.Appointment

@{
    ViewBag.Title = "AddAppoinment";
    Layout = "~/Views/Shared/_SubCustomerLayout.cshtml";
}

@using (Html.BeginForm("AddAppoinment", "SubCustomer", FormMethod.Post))
{
<div class="form-group">

    @Html.HiddenFor(x => x.AppointmentTrackStatus)
    @Html.HiddenFor(x => x.AppFinishDate)
    @Html.HiddenFor(x => x.InComingDate)
    @Html.HiddenFor(x => x.AppointmentUCode)
    @Html.HiddenFor(x => x.AppointmentID)
    @Html.HiddenFor(x => x.DownloadedDate)
    @Html.HiddenFor(x => x.AppointmentImage)
    @Html.HiddenFor(x => x.AppointmentComment)
    @Html.HiddenFor(x => x.AppointmentStatus)
    @Html.HiddenFor(x => x.AppStartDate)
    @Html.Label("Yükleme Türü (Dökme/Palet)")
    @Html.TextBoxFor(x => x.AppointmentLoadType, new { @class = "form-control" })

    @Html.Label("sürücü id")
    @Html.TextBoxFor(x => x.DriverID, new { @class = "form-control" })

    @Html.Label("Tedarikçi id")
    @Html.TextBoxFor(x => x.SubCustomerID, new { @class = "form-control" })

    @Html.Label("Şef ID")
    @Html.TextBoxFor(x => x.ChiefID, new { @class = "form-control" })

    @Html.Label("Mal İsim")
    @Html.TextBoxFor(x => x.AppointmentName, new { @class = "form-control" })

    @Html.Label("Kapasite")
    @Html.TextBoxFor(x => x.AppointmentCapacity, new { @class = "form-control" })

    

    <button class="btn btn-success">Kaydet</button>
</div>
}
