@model EntityLayer.Concrete.Appointment

@{
    ViewBag.Title = "AddAppoinment";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<h1>Randevu Talebi</h1>
<a href="/SubCustomer/Index/" class="closepopup"><i class="fas fa-minus-circle"></i></a>
<hr />
@using (Html.BeginForm("AddAppoinment", "SubCustomer", FormMethod.Post))
{
<div class="form-group">

    @Html.HiddenFor(x => x.AppointmentTrackStatus)
    @Html.HiddenFor(x => x.AppFinishDate)
    @Html.HiddenFor(x => x.InComingDate)
    @Html.HiddenFor(x => x.AppointmentUCode)
    @Html.HiddenFor(x => x.AppointmentID)
    @Html.HiddenFor(x => x.DownloadedDate)
    @Html.HiddenFor(x => x.AppointmentImage)
    @Html.HiddenFor(x => x.AppointmentComment)
    @Html.HiddenFor(x => x.AppointmentStatus)
    @Html.HiddenFor(x => x.AppStartDate)
    @Html.HiddenFor(m => m.DriverComment)
    @Html.HiddenFor(m => m.AppStartDate)

    @Html.Label("Yükleme Türü (Dökme/Palet)")
    @Html.TextBoxFor(x => x.AppointmentLoadType, new { @class = "form-control" })

    @Html.Label("Tedarikçi id")
    @Html.TextBoxFor(x => x.SubCustomerID, new { @class = "form-control" })

    @Html.Label("Şef ID")
    @Html.TextBoxFor(x => x.ChiefID, new { @class = "form-control" })

    @Html.Label("Mal İsim")
    @Html.TextBoxFor(x => x.AppointmentName, new { @class = "form-control" })

    @Html.Label("Miktar")
    @Html.TextBoxFor(x => x.AppointmentCapacity, new { @class = "form-control" })

    @Html.Label("Sürücü Ad Soyad")
    @Html.TextBoxFor(x => x.AppDriverName, new { @class = "form-control" })

    @Html.Label("Telefon Numarası")
    @Html.TextBoxFor(x => x.AppDriverNumber, new { @class = "form-control" })

    @Html.Label("Araç Plakası")
    @Html.TextBoxFor(x => x.AppDriverPlate, new { @class = "form-control" })

    @Html.Label("Çalıştığı Firma")
    @Html.TextBoxFor(x => x.AppDriverLogisticName, new { @class = "form-control" })
    <br />
    @Html.Label("Sürücüyü Kaydetmek İstiyorum")
    @Html.CheckBoxFor(m => m.DriverStatus, new { @checked = "checked" })
    <br />
    <br />
    <button class="btn btn-success btn-lg btn btn-block">Kaydet</button>
</div>
}
