@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "AskChangeList";
    Layout = "~/Views/Shared/_SubCustomerLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kapasite</th>
        <th>Yükleme Tipi</th>
        <th>Başlangıç Tarihi</th>
        <th>Durum</th>
        <th>Sürücü ID</th>
        <th>Randevu</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.AppointmentTrackStatus == 2)
        {
            <tr>

                <td>@item.SubCustomer.SubCustomerName</td>
                <td>@item.AppointmentCapacity</td>
                <td>@item.AppointmentLoadType</td>
                <td>@item.AppStartDate</td>
                <td>@item.AppointmentStatus</td>
                <td>@item.Driver.DriverName  @item.Driver.DriverSurname</td>
                <td><a href="/SubCustomer/EditAskChange" class="btn btn-info">Düzenle</a></td>
            </tr>
        }
    }
</table>

