@using EntityLayer.Concrete
@model List<Calendar>
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_SubCustomerLayout.cshtml";
}
<!DOCTYPE html>

<title>DGC Lojistik</title>
<table class="table table-bordered">

    <tr>

        <th>Saat Başlangıç</th>
        <th>Saat Bitiş</th>
        <th>Randevu Al</th>
        <th>Toplam Miktar</th>
        <th>Toplam Palet</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>@item.CLStartDate</td>
            <td>@item.CLFinishDate</td>
            
            <td><a href="/SubCustomer/AddAppoinment/@item.CalendarID" class="btn btn-success">Randevu Al</a></td>
            <td>@item.CLDailyAmount
                   / 
                @item.CLAmount
            </td>
            <td>@item.CLPalletCapacity</td>
        </tr>
    }
</table>

