@using EntityLayer.Concrete
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Calendar>
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_SubCustomerLayout.cshtml";
}


<!DOCTYPE html>

@{
    TimeSpan finishtime = TimeSpan.Parse("23:00"); // 15 PM
    TimeSpan now = DateTime.Now.TimeOfDay;
}

<style>
 
    .card-title{
       
    }
/*    .badge badge-danger {
        padding: 400px;
        margin: 200px;
    }
    .badger {
        padding:33px;
    }*/
    .doluluk {
      
   
      
    }
    .dayhead{
        
        text-align:center;
    }
    .pagelisterleft a {
        position: relative;
        float: left;
        background-color: #007bff;
        padding: 10px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        margin: 10px;
        bottom: 6px;
        -o-transition: .3s;
        -ms-transition: .3s;
        -moz-transition: .3s;
        -webkit-transition: .3s;
        text-align: center;
       
    }
    .card-header{
      
    }
        .pagelisterleft a:hover {
            position: relative;
            float: left;
            left: 0;
            background-color: #0069D9;
            padding: 10px;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            margin: 10px;
            text-align: center;
        }
    .pagelisterleft li{
        padding:30px;
    }
    .pagelisterright a {
        position: relative;
        float: right;
        top: 25px;
        right: 0;
    }
</style>

<title>DGC Lojistik</title>
@*<table class="table table-bordered">

        <tr>

            <th>Saat Başlangıç</th>
            <th>Saat Bitiş</th>
            <th>Randevu Al</th>
            <th>Toplam Miktar</th>
            <th>Toplam Palet</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.CLStartDate</td>
                <td>@item.CLFinishDate</td>

                <td><a href="/SubCustomer/AddAppoinment/@item.CalendarID" class="btn btn-success">Randevu Al</a></td>
                <td>@item.CLDailyAmount
                       /
                    @item.CLAmount
                </td>
                <td>
                    @item.CLDailyPaletAmount
                            /
                            @item.CLPalletCapacity
                        </td>
            </tr>
        }
    </table>*@
<html>
<head>

    <script src="~/Scripts/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-3.6.0.js" type="text/javascript"></script>



</head>
<body class="hold-transition sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-1">
                <div class="col-sm-6">

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card container" >
            <div class="card-header ">
                @*d-flex justify-content-center*@


                
           
                  
                            <div class="row  d-flex justify-content-around">
                                <div class="col">
                                    
                                </div>
                                <div class="col-auto">
                                    <h3 class="card-title d-flex  ">

                                        @*<span style="font-size: 50px; font-weight: 600; text-align:center">@(((DateTime)ViewBag.pshow).ToString("dd MMMM"))</span>*@

                                        @Html.PagedListPager((IPagedList)Model, p => Url.Action("Calendar", new { p }), new PagedListRenderOptions
                                   {

                                       UlElementClasses = new string[] { "pagination" },
                                        LiElementClasses = new string[] { "pagelisterleft" },
                                       LinkToPreviousPageFormat = "Önceki Gün",

                                       DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                       DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                       DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                       DisplayLinkToNextPage = PagedListDisplayMode.Never,
                                       MaximumPageNumbersToDisplay = 0,
                                       DisplayEllipsesWhenNotShowingAllPageNumbers = false

                                   })

                                        <span style="font-size: 50px; font-weight: 600;" class="dayhead">@(((DateTime)ViewBag.pshow).ToString("dd MMMM"))</span>


                                        @Html.PagedListPager((IPagedList)Model, p => Url.Action("Calendar", new { p }), new PagedListRenderOptions
                                   {

                                       UlElementClasses = new string[] { "pagination" },
                                       //LiElementClasses = new string[] { "page-link" },
                                       LiElementClasses = new string[] { "pagelisterleft" },
                                       LinkToNextPageFormat = "Sonraki Gün",
                                       DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                       DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                                       DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                       DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                       MaximumPageNumbersToDisplay = 0,
                                       DisplayEllipsesWhenNotShowingAllPageNumbers = false

                                   })

                                    </h3>
                                </div>
                                <div class="col">
                                    <div class="input-group mt-1" >
                                        <input style="border-radius:10px" id="textbox" type="text" size="50" class="form form-control" value="" placeholder="Miktar Giriniz" />
                                        <div>
                                            <button style="border-radius:5px" id="press" class="btn btn-primary" href="">Ara</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                
                    

             
            </div>
            <div class="card-body p-0" style="overflow: auto;">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align:center">
                                Dilim
                            </th>

                            @*<th style="width: 3%;">
                                    Saat
                                </th>
                                <th style="width: 12%;">
                                    Saat Bitiş
                                </th>*@
                            <th style="width: 15%; text-align:center">
                                Saatler
                            </th>
                            <th style="width: 20%; text-align:center">
                                Randevu Al
                            </th>
                           
                            <th style="width: 30%; text-align:center">
                                Doluluk Oranı
                            </th>
                            @*<th style="width: 20%">
                                </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.SlicesID == ViewBag.d3)
                            {

                          
                            <tr>
                                
                                <td style="font-size: 25px; text-align:center">
                                    @item.CLSlice

                                </td>

                                <td style="text-align:center">
                                    <a style="font-size: 25px; text-align:center">
                                        @(((DateTime)item.CLStartHour).ToString("hh:mm")) - @(((DateTime)item.CLFinishDate).ToString("hh:mm"))
                                    </a>
                                  

                                </td>

                                <td style="text-align:center">
                                    <ul class="list-inline">


                                        @if (item.CLDailyAmount >= item.CLAmount && item.CLDailyPaletAmount >= item.CLPalletCapacity)
                                        {
                                            @*<li class="badge badge-danger doluluk"  >Dilim Dolu</li>*@
                                        <a class="btn btn-danger" href="#" onClick="return false;">Dilim Dolu</a>
                                        }
                                        else
                                        {
                                            if (now < finishtime)
                                            {
                                                
                                                    @Html.ActionLink("Randevu Talep Et", "AddAppoinment", "SubCustomer", new { myhour = item.CLStartHour, mydatetime = ViewBag.pshow, id = item.CalendarID }, new { @class = "btn btn-success" })
                                               
                                            }

                                        }

                                    </ul>

                                </td>




                                @*@if (item.CLDailyAmount >= item.CLAmount)
                                    {
                                        <span class="badge badge-danger" style="font-size: 25px; font-weight: 600; ">Dökme Doldu</span>
                                    }
                                    else
                                    {
                                        <div class="badge badge-success" style="font-size:25px">
                                            @item.CLDailyAmount

                                            @item.CLAmount
                                        </div>

                                    }*@





                                @*@if (item.CLDailyPaletAmount >= item.CLPalletCapacity)
                                    {
                                        <span class="badge badge-danger" style="font-size: 25px; font-weight: 600; ">Palet Doldu</span>
                                    }
                                    else
                                    {
                                        <div class="badge badge-success" style="font-size:25px">
                                            @item.CLDailyPaletAmount

                                            @item.CLPalletCapacity
                                        </div>

                                    }*@



                               

                                <td class="project-actions text-right">
                                    @{
                                        string succesbar = "bg-success";
                                        string warningbar = "bg-warning";
                                        string dangerbar = "bg-danger";
                                        string currentbar = "bg-success";
                                        int result = ((item.CLDailyAmount + item.CLDailyPaletAmount) * 200 + item.CLSumTolerance) / (item.CLSumTolerance * 2);
                                        if (result >= 0 && result < 50)
                                        {
                                            currentbar = succesbar;
                                        }
                                        else if (result >= 50 && result <= 90)
                                        {
                                            currentbar = warningbar;
                                        }
                                        else if (result >= 90)
                                        {
                                            currentbar = dangerbar;
                                        }

                                    }
                                    <div class="progress" style="font-size: 20px; background-color: #dcdde1; height: 30px; font-weight: 600; border-radius: 20px ">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated @currentbar" role="progressbar" aria-valuenow="@result" aria-valuemin="0" aria-valuemax="100" style="width: @(result+"%"); border-radius:20px">@result%</div>
                                    </div>
                                </td>
                            </tr>


                                            }
                                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>


    <script type="text/javascript">

        $('#press').click(function () {
   var url = '@Url.Action("returnToCalendar", "SubCustomer")';
   var textValue = $('#textbox').val();

   window.location.href = url + '?apvalue=' + textValue;
        });

        //$('.progress-bar').each(function () {
        //    var min = $(this).attr('aria-valuemin');
        //    var max = $(this).attr('aria-valuemax');
        //    var now = $(this).attr('aria-valuenow');
        //    var siz = (now - min) * 100 / (max - min);
        //    $(this).css('width', siz + '%');
        //});
    </script>



</body>

</html>









