@using EntityLayer.Concrete
@model List<Appointment>
@{
    ViewBag.Title = "ListAppoinment";
    Layout = "~/Views/Shared/_SubCustomerLayout.cshtml";
}

<h1>İptal Edilen Randevularım</h1>

<table class="table table-bordered">
    <tr>
        <th>Firma İsim</th>
        <th>Mal İsim</th>
        <th>Yük Adet</th>
        <th>Giriş Tarihi</th>
        <th>Durum</th>
        <th>Sürücü İsim</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.AppointmentTrackStatus == 7)
        {
            <tr>

                <td>@item.SubCustomer.SubCustomerName</td>
                <td>@item.AppointmentName</td>
                <td>@item.AppointmentCapacity</td>
                <td>@item.AppStartDate</td>
                <td>@item.AppointmentStatus</td>
                <td>@item.Driver.DriverName  @item.Driver.DriverSurname</td>

            </tr>
        }
    }
</table>

