@model EntityLayer.Concrete.Appointment
@{
    ViewBag.Title = "EditAskChange";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2>Randevuyu Düzenle</h2>
<a href="/SubCustomer/AppliedListAppoinment/" class="closepopup"><i class="fas fa-minus-circle"></i></a>
<hr />
@using (Html.BeginForm("EditAskChange", "SubCustomer", FormMethod.Post))
{
<div class="form-group">

    @Html.HiddenFor(x => x.AppointmentTrackStatus)
    @Html.HiddenFor(x => x.AppointmentID)
    @Html.HiddenFor(x => x.AppointmentLoadType)
    @Html.HiddenFor(x => x.DriverID)
    @Html.HiddenFor(x => x.SubCustomerID)
    @Html.HiddenFor(x => x.AppointmentStatus)
    @Html.HiddenFor(x => x.ChiefID)
    @Html.HiddenFor(x => x.DownloadedDate)
    @Html.HiddenFor(x => x.AppointmentImage)
    @Html.HiddenFor(x => x.AppointmentComment)
    @Html.HiddenFor(x => x.AppointmentName)
    @Html.HiddenFor(x => x.AppFinishDate)
    @Html.HiddenFor(x => x.InComingDate)
    @Html.HiddenFor(x => x.AppointmentUCode)
    @Html.HiddenFor(x => x.DriverComment)


    @Html.Label("Mal Türü")
    @Html.TextBoxFor(x => x.AppointmentLoadType, new { @class = "form-control" })

    @Html.Label("Miktar")
    @Html.TextBoxFor(x => x.AppointmentCapacity, new { @class = "form-control" })

    @Html.Label("Geleceği Dilim")
    @Html.TextBoxFor(x => x.AppStartDate, new { @class = "form-control" })

    @Html.HiddenFor(x => x.AppStartDate)

    <br />
    <button class="btn btn-success btn-lg btn btn-block">Kaydet</button>
</div>
}
