@model EntityLayer.Concrete.Appointment
@{
    ViewBag.Title = "EditNotAppliedAppointment";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

    <script src="~/Scripts/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="~/AdminLTE/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
</head>
<body>

    <h2>Randevuyu Düzenle</h2>

    <a href="/SubCustomer/AppliedListAppoinment/" class="closepopup"><i class="fas fa-minus-circle"></i></a>
    <hr />

    @using (Html.BeginForm("EditNotAppliedAppointment", "SubCustomer", FormMethod.Post))
    {
        <div class="form-group">




            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <br /> <h3 style="font-weight:600">Eski Randevu</h3>
                        <hr />
                        <input class="form-control "  readonly placeholder="Tarih" value="@(((DateTime)Model.AppStartDate).ToString("dd MMMM "))  " />
                        <br />

                        <input type="text" class="form-control" readonly placeholder="Eski Dilim" value="@Model.AppSlice"><br />
                        <input type="text" class="form-control" readonly placeholder="Yük Cinsi" value="@Model.AppointmentName"><br />
                        <input type="text" class="form-control" readonly placeholder="Tür" value="@Model.AppointmentLoadType"><br />
                        <input type="text" class="form-control" readonly placeholder="Kap / Koli" value="@Model.AppointmentCapacity"><br />
                        <input type="text" class="form-control" readonly placeholder="Sürücü İsim" value="@Model.AppDriverName"><br />
                        <input type="text" class="form-control" readonly placeholder="Sürücü Telefon" value="@Model.AppDriverNumber"><br />
                        <input type="text" class="form-control" readonly placeholder="Sürücü Plaka" value="@Model.AppDriverPlate"><br />
                        <input type="text" class="form-control" readonly placeholder="Sürücü Firma" value="@Model.AppDriverLogisticName">
                    </div>
                    <div class="col text-center">
                        <br /><h3 style="font-weight:600">Yeni Randevu</h3>
                        <hr />
                        <input type="date" id="date" name="AppStartDate" class="form-control " placeholder="Tarih" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddDays(7).ToString("yyyy-MM-dd")" />
                        <br />

                        <input type="number" id="number" class="form-control" name="AppSlice" placeholder="Yeni Dilim" min="1" max="4"><br />
                        <input type="text" id="text" class="form-control" name="AppointmentName" placeholder="Yük Cinsi"><br />
                        <input type="text" id="text" class="form-control" name="AppointmentLoadType" placeholder="Tür"><br />
                        <input type="number" id="number" class="form-control" name="AppointmentCapacity" placeholder="Kap / Koli"><br />
                        <input type="text" id="text" class="form-control" name="AppDriverName" placeholder="Sürücü İsim"><br />
                        <input type="text" id="text" class="form-control" name="AppDriverNumber" placeholder="Sürücü Telefon"><br />
                        <input type="text" id="text" class="form-control" name="AppDriverPlate" placeholder="Sürücü Plaka"><br />
                        <input type="text" id="text" class="form-control" name="AppDriverLogisticName" placeholder="Sürücü Firma">
                    </div>

                </div>
            </div>


            @Html.HiddenFor(x => x.CalendarID)

            @Html.HiddenFor(x => x.AppointmentTrackStatus)
            @Html.HiddenFor(x => x.AppointmentID)
            @Html.HiddenFor(x => x.AppointmentLoadType)
            @Html.HiddenFor(x => x.DriverID)
            @Html.HiddenFor(x => x.SubCustomerID)
            @Html.HiddenFor(x => x.AppointmentStatus)
            @Html.HiddenFor(x => x.ChiefID)
            @Html.HiddenFor(x => x.DownloadedDate)
            @Html.HiddenFor(x => x.AppointmentImage)
            @Html.HiddenFor(x => x.AppointmentComment)

            @Html.HiddenFor(x => x.AppFinishDate)
            @Html.HiddenFor(x => x.InComingDate)
            @Html.HiddenFor(x => x.AppointmentUCode)
            @Html.HiddenFor(x => x.AppointmentUpdateComment)
            @*@Html.HiddenFor(x => x.CalendarID)*@
            @Html.HiddenFor(x => x.AppStartHour)
            @*@Html.HiddenFor(x => x.AppStartDate)*@
            @Html.HiddenFor(x => x.AppointmentCancelComment)
            @Html.HiddenFor(x => x.AppointmentLoadType)
            @Html.HiddenFor(x => x.AppClickTime)
            @*@Html.Label("Kap / Koli")
            @Html.TextBoxFor(x => x.AppointmentCapacity, new { @class = "form-control" })
            @Html.HiddenFor(x => x.AppClickTime)
            @Html.Label("Yük Cinsi")
            @Html.TextBoxFor(x => x.AppointmentName, new { @class = "form-control" })
            @Html.Label("Sürücü İsim")
            @Html.TextBoxFor(x => x.AppDriverName, new { @class = "form-control" })
            @Html.Label("Sürücü Telefon")
            @Html.TextBoxFor(x => x.AppDriverNumber, new { @class = "form-control" })
            @Html.Label("Plaka")
            @Html.TextBoxFor(x => x.AppDriverPlate, new { @class = "form-control" })
            @Html.Label("Sürücü Firma")
            @Html.TextBoxFor(x => x.AppDriverLogisticName, new { @class = "form-control" })
            @Html.DropDownListFor(x => x.CalendarID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })*@




            <br />

            <p style="font-size:20px">
                * Randevu Onaylanana kadar randevu içeriği değiştirilebilir. Randevu Onaylandıktan sonra
                miktar ve zamanla ilgili değişiklik <u>yapılamaz</u>.
            </p>


            <br />
            <button class="btn btn-success btn-lg btn btn-block">Kaydet</button>
        </div>


    }

    @*<script type="text/javascript">
            $(document).ready(function () {
                $("#in").on('change', function () {
                    var days = +$(this).val();
                    var actualDate = new Date();
                    actualDate.setDate(actualDate.getDate() + days);
                    console.log(days, actualDate);

                    $('#out').datepicker("setDate", actualDate);
                    /*var ShortDate = $('#out').datepicker({ dateFormat: 'dd-mm-yy' }).val();*/
                   /* $("#demo").html(ActualDate);*/
                });

                $('#out').datepicker().on('change focus blur click', function (event) {

                    /* $(".ui-datepicker-calendar").hide();*/
                    $(".ui-datepicker").hide();
                    dateFormat: 'dd/mm/yyyy';

                });
                /*2022 - 03 - 08 00: 00: 00.000*/
                $('#press').click(function () {
                    var Datee = new Date($('#out').datepicker('getDate'));
                    var dateee = $('#in').val();
                    //var newDate = moment(Datee).format('M/D/YYYY h:mm:ss A');
                    //var newDaTe = new String(Datee);

                    $.post('@Url.Action("editnotappliedappointment", "subcustomer")',

                        { dateee: dateee });

                });

            });

        </script>*@


</body>
</html>

