@model EntityLayer.Concrete.Chief
@{
    ViewBag.Title = "AddChief";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2>Şef Ekle</h2>
<a href="/AdminChief/Index/" class="closepopup"><i class="fas fa-minus-circle"></i></a>
@using (Html.BeginForm("AddChief", "AdminChief", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Adı")
        @Html.TextBoxFor(x => x.ChiefName, new { @class = "form-control" })
        @Html.Label("Soyadı")
        @Html.TextBoxFor(x => x.ChiefSurname, new { @class = "form-control" }) 
        @Html.Label("Rol")
        @Html.DropDownListFor(x => x.ChiefRole, new[] { new SelectListItem { Value = "A", Text = "Operasyon" }, new SelectListItem { Value = "B", Text = "Güvenlik" } }, "Seçim Yapınız", new { @class = "form-control" })
        @*@Html.Label("Şube No")
        @Html.TextBoxFor(x => x.BranchNo, new { @class = "form-control" })*@
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.ChiefUsername, new { @class = "form-control" })
        @Html.Label("Şifre")
        @Html.TextBoxFor(x => x.ChiefPassword, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary btn-lg btn-block">Oluştur</button>
     </div>
}
