@model EntityLayer.Concrete.Chief
@{
    ViewBag.Title = "EditChief";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2>Şef Düzenleme</h2>
<a href="/AdminChief/Index/" class="closepopup"><i class="fas fa-minus-circle"></i></a>

@using (Html.BeginForm("EditChief", "AdminChief", FormMethod.Post))
{
<div class="form-group">
    @*@Html.Label("ID")*@
    @Html.HiddenFor(x => x.ChiefID, new { @class = "form-control" })
    @Html.Label("Adı")
    @Html.TextBoxFor(x => x.ChiefName, new { @class = "form-control" })
    @Html.Label("Soyadı")
    @Html.TextBoxFor(x => x.ChiefSurname, new { @class = "form-control" })
    @Html.Label("Şef Rolü")
    @Html.DropDownListFor(x => x.ChiefRole, new[] { new SelectListItem { Value = "A", Text = "Operasyon" }, new SelectListItem { Value = "B", Text = "Güvenlik" } }, "Seçim Yapınız", new { @class = "form-control" })
    @*@Html.Label("Şube No")*@
    @Html.HiddenFor(x => x.BranchNo, new { @class = "form-control" })
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.ChiefUsername, new { @class = "form-control" })
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.ChiefPassword, new { @class = "form-control" })
    @Html.Label("Giriş Tarihi")
    @Html.TextBoxFor(x => x.ChiefStartDate, new { @class = "form-control" })
    @Html.Label("Çıkış Tarihi")
    @Html.TextBoxFor(x => x.ChiefFinishDate, new { @class = "form-control" })
    @Html.Label("Statü")
    @Html.DropDownListFor(x => x.ChiefStatus, new[] { new SelectListItem { Value = "true", Text = "Aktif" }, new SelectListItem { Value = "false", Text = "Pasif" } }, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary btn-lg btn-block">Değişiklikleri Kaydet</button>
</div>
}
