@using EntityLayer.Concrete
@model List<Chief>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-size:30px; font-weight:700">Operasyon Şefi Düzenle</h3>
        <div class="card-tools">
            <a href="/AdminChief/AddChief/" class="btn btn-info float-right">Operasyon Şefi Girişi</a>
            
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table id="example2" class="table table-bordered table-striped table-hover">
            <thead>

                <tr>
                    @*<th>ID</th>*@
                    <th>Adı</th>
                    <th>Soyadı</th>
                    @*<th>Şube Numarası</th>*@
                    <th>Şef Rolü</th>
                    <th>Giriş Tarihi</th>
                    <th>Çıkış Tarihi</th>
                    <th>Statü</th>
                    <th>Düzenle</th>
                    @*<th>Bilgiler</th>*@
                    @*<th>Sil</th>*@

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        @*<td>@item.ChiefID</td>*@
                        <td>@item.ChiefName</td>
                        <td>@item.ChiefSurname</td>
                        @*<td>@item.BranchNo</td>*@
                        <td>
                        @if (item.ChiefRole == "A")
                        {
                            <p>Operasyon</p>
                        }
                        else
                        {
                            <p>Güvenlik</p>
                        }
                       </td>
                        <td>@item.ChiefStartDate</td>
                        <td>@item.ChiefFinishDate</td>
                        <td>@Html.Raw(item.ChiefStatus == true ? "<span class='badge badge-success'>Aktif</span>" : "<span class='badge badge-danger'>Pasif</span>")</td>
                        <td><a href="/AdminChief/EditChief/@item.ChiefID" class="btn btn-info">Düzenle</a></td>
                        @*<td><a href="#" class="btn btn-primary">Bilgiler</a></td>*@
                        @*<td><a href="/AdminChief/DeleteChief/@item.ChiefID" class="btn btn-danger">Sil</a></td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer clearfix">
       
     
    </div>

</div>