@model EntityLayer.Concrete.Calendar
@{
    ViewBag.Title = "AddCalendar";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2>Dilim Yönetimi</h2>

@using (Html.BeginForm("AddCalendar", "Admin", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.CalendarID, new { @class = "form-control" })


    @Html.Label("Dilim 101 ID")
    @Html.TextAreaFor(x => x.CLSliceID, new { @class = "form-control" })
    @Html.Label("Kullanıma Geçiş Tarihi")
    @Html.TextAreaFor(x => x.CLUseStartDate, new { @class = "form-control" })
    @Html.Label("Kullanımı Bitirme Tarihi")
    @Html.TextAreaFor(x => x.CLUseFinishDate, new { @class = "form-control" })
    @Html.Label("Başlangıç Tarihi")
    @Html.TextAreaFor(x => x.CLStartDate, new { @class = "form-control" })
    @Html.Label("Bitiş Tarihi")
    @Html.TextAreaFor(x => x.CLFinishDate, new { @class = "form-control" })
    @Html.Label("Dilim Sayısı 1,2")
    @Html.TextAreaFor(x => x.CLSlice, new { @class = "form-control" })
    @Html.Label("Miktar")
    @Html.TextAreaFor(x => x.CLAmount, new { @class = "form-control" })
    @Html.Label("Günlük Miktar")
    @Html.TextAreaFor(x => x.CLDailyAmount, new { @class = "form-control" })
    @Html.Label("Tölerans")
    @Html.TextAreaFor(x => x.CLTolerance, new { @class = "form-control" })
    @Html.Label("Toplam Tölerans")
    @Html.TextAreaFor(x => x.CLSumTolerance, new { @class = "form-control" })
    @Html.Label("Palet Kapasitesi")
    @Html.TextAreaFor(x => x.CLPalletCapacity, new { @class = "form-control", })

    @Html.Label("ANA DİLİM ID")
    <input type="text" name="SlicesID" value="@ViewBag.t" class="form-control" readonly/>
    @*@Html.TextBoxFor(x => x.SlicesID, new { @class = "form-control", @placeholder = @ViewBag.t, @Value = @Viewbag.t, @readonly = "readonly" })*@
    <br />
    <button class="btn btn-info">Oluştur</button>
</div>

}



