@using EntityLayer.Concrete
@model List<Calendar>
@{
    ViewBag.Title = "CalendarList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Dilim Yönetimi</h1>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Yöneticileri Düzenle</h3>
        <div class="card-tools">

            <div class="input-group input-group-sm" style="width: 150px;">



                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table id="example2" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Versiyon</th>
                    <th>Statü</th>
                    <th>Dilim ID</th>
                    @*<th>K Başlangıç</th>
                    <th>K Bitiş</th>*@
                    <th>Başlangıç Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th>Dilim Sayısı</th>
                    <th>Miktar</th>
                    <th>Tölerans</th>
                    <th>Toplam Tölerans</th>
                    <th>Palet Kapasitesi</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
           
            <tbody>
              @for (int i = 0; i < 4; i++)
              {

              
                foreach (var item in Model)
                {

                    if (item.CLSlice == i)
                    {

                    
                    <tr>
                        <th>@item.CalendarID</th>
                        <td>@item.Slice.SliceVersion</td>
                        <td>@item.Slice.SliceStatus</td>
                        <td>@item.CLSliceID</td>
                        @*<td>@item.CLUseStartDate</td>
                        <td>@item.CLUseFinishDate</td>*@
                    <td>@item.CLStartHour</td>
                    <td>@item.CLFinishDate</td>
                        <td>@item.CLSlice</td>
                        <td>@item.CLAmount</td>
                        <td>@item.CLTolerance</td>
                        <td>@item.CLSumTolerance</td>
                        <td>@item.CLPalletCapacity</td>

                        <td><a href="/Admin/DeleteAdmin/@item.CalendarID" class="btn btn-danger">Sil</a></td>
                        <td><a href="/Admin/EditCalendar/@item.CalendarID" class="btn btn-warning">Güncelle</a></td>

                    </tr> 
                    break;
                      }


                  }
              }
            </tbody>

        </table>
    </div>
    <div class="card-footer clearfix">
        <center>
            <a href="/Admin/AddCalendar/" class="btn btn-info">Dilim Ekle</a>
        </center>
      
    </div>
</div>




