@model EntityLayer.Concrete.Customer
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2>Müşteri Düzenleme Sayfası</h2>
<a href="/Customer/Index/" class="closepopup"><i class="fas fa-minus-circle"></i></a>
<hr />
@using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Post))
{
    <div class="form-group">
        @*@Html.Label("MüŞTERİ ID")*@
        @Html.HiddenFor(x => x.CustomerID, new { @class = "form-control" })
        @Html.Label("Firma Adı")
        @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
        @Html.Label("Firma Kodu")
        @Html.TextBoxFor(x => x.CompanyCode, new { @class = "form-control" })
        @Html.Label("Vergi Numarası")
        @Html.TextBoxFor(x => x.TaxNO, new { @class = "form-control" })
        @Html.Label("Vergi Dairesi")
        @Html.TextBoxFor(x => x.TaxDepartment, new { @class = "form-control" })
        @Html.Label("Sektör")
        @Html.TextBoxFor(x => x.Sector, new { @class = "form-control" })
        @Html.Label("Giriş Zamanı")
        @Html.TextBoxFor(x => x.CustomerStartDate, new { @class = "form-control" })
        @Html.Label("Çıkış Zamanı")
        @Html.TextBoxFor(x => x.CustomerFinishDate, new { @class = "form-control" })
        @Html.Label("Statü")
        @Html.DropDownListFor(x => x.CustomerStatus, new[] { new SelectListItem { Value = "true", Text = "Aktif" }, new SelectListItem { Value = "false", Text = "Pasif" } }, new { @class = "form-control" })
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.CustomerUsername, new { @class = "form-control" })
        @Html.Label("Şifre")
        @Html.TextBoxFor(x => x.CustomerPassword, new { @class = "form-control" })
        @Html.Label("Mail")
        @Html.TextBoxFor(x => x.CustomernMail, new { @class = "form-control" })
        @Html.Label("Telefon")
        @Html.TextBoxFor(x => x.CustomerTel, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary btn-lg btn-block">Düzenle</button>
        <a href="/Customer/DeleteCustomer/@Model.CustomerID" class="btn btn-danger btn-lg btn-block">Sil</a>
   
    </div>

}