@model EntityLayer.Concrete.Customer
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2>Müşteri Düzenleme Sayfası</h2>
<a href="/Customer/Index/" class="closepopup"><i class="fas fa-minus-circle"></i></a>
<hr />
@using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("MüŞTERİ ID")
        @Html.TextAreaFor(x => x.CustomerID, new { @class = "form-control" })
        @Html.Label("Firma Adı")
        @Html.TextAreaFor(x => x.CompanyName, new { @class = "form-control" })
        @Html.Label("Firma Kodu")
        @Html.TextAreaFor(x => x.CompanyCode, new { @class = "form-control" })
        @Html.Label("Vergi Numarası")
        @Html.TextAreaFor(x => x.TaxNO, new { @class = "form-control" })
        @Html.Label("Vergi Dairesi")
        @Html.TextAreaFor(x => x.TaxDepartment, new { @class = "form-control" })
        @Html.Label("Sektör")
        @Html.TextAreaFor(x => x.Sector, new { @class = "form-control" })
        @Html.Label("Giriş Zamanı")
        @Html.TextAreaFor(x => x.CustomerStartDate, new { @class = "form-control" })
        @Html.Label("Çıkış Zamanı")
        @Html.TextAreaFor(x => x.CustomerFinishDate, new { @class = "form-control" })
        @Html.Label("Statü")
        @Html.TextAreaFor(x => x.CustomerStatus, new { @class = "form-control" })
        @Html.Label("Kullanıcı Adı")
        @Html.TextAreaFor(x => x.CustomerUsername, new { @class = "form-control" })
        @Html.Label("Şifre")
        @Html.TextAreaFor(x => x.CustomerPassword, new { @class = "form-control" })
        @Html.Label("Mail")
        @Html.TextAreaFor(x => x.CustomernMail, new { @class = "form-control" })
        @Html.Label("Telefon")
        @Html.TextAreaFor(x => x.CustomerTel, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Düzenle</button>
    </div>

}