@using EntityLayer.Concrete
@model List<Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Müşterilers</h2>


<table class="table table-bordered">
    <th>ID</th>
    <th>Firma Adı</th>
    <th>Firma Kodu</th>
    <th>Vergi Numarası</th>
    <th>Vergi Dairesi</th>
    <th>Sektör</th>
    <th>Giriş Zamanı</th>
    <th>Çıkış Zamanı</th>
    <th>Statü</th>
    <th>Kullanıcı Adı</th>
    <th>Şifre</th>
    <th>Mail</th>
    <th>Telefon</th>



    <th>Güncelle</th>
    <th>Kullanıcı Bilgileri</th>
    <th>Sil</th>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CustomerID</th>
            <td>@item.CompanyName</td>
            <td>@item.CompanyCode</td>

            <td>@item.TaxNO</td>
            <td>@item.TaxDepartment</td>
            <td>@item.Sector</td>
            <td>@item.CustomerStartDate</td>
            <td>@item.CustomerFinishDate</td>
            <td>@item.CustomerStatus</td>
            <td>@item.CustomerUsername</td>
            <td>@item.CustomerPassword</td>
            <td>@item.CustomernMail</td>
            <td>@item.CustomerTel</td>

            <td><a href="/Customer/EditCustomer/@item.CustomerID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-info">Bilgiler</a></td>
            <td><a href="/Customer/DeleteCustomer/@item.CustomerID" class="btn btn-danger">Sil</a></td>

        </tr>
    }
</table>

<a href="/Customer/AddCustomer/" class="btn btn-info">Yeni Müşteri Girişi</a>